In [1]:
import pandas as pd
from numpy.random import randn

In [2]:
df = pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns='W X Y Z'.split())

In [3]:
df

          W         X         Y         Z
A  0.311931  0.668648  0.216665 -0.187004
B  0.034409  0.776255 -0.087264  2.089797
C  1.211840  1.231297 -1.128983  0.202031
D  0.002687  1.076706 -1.332869 -1.748346
E -0.171588 -1.574146  0.668057  1.998005

In [6]:
df[['W','Y']]

          W         Y
A  0.311931  0.216665
B  0.034409 -0.087264
C  1.211840 -1.128983
D  0.002687 -1.332869
E -0.171588  0.668057

In [9]:
df['new'] = df['Z'] + df['W']

In [10]:
df

          W         X         Y         Z       new
A  0.311931  0.668648  0.216665 -0.187004  0.124926
B  0.034409  0.776255 -0.087264  2.089797  2.124205
C  1.211840  1.231297 -1.128983  0.202031  1.413871
D  0.002687  1.076706 -1.332869 -1.748346 -1.745659
E -0.171588 -1.574146  0.668057  1.998005  1.826417

In [11]:
df.loc['A']

W      0.311931
X      0.668648
Y      0.216665
Z     -0.187004
new    0.124926
Name: A, dtype: float64

In [12]:
df.iloc[0,2]

0.2166649995118018